<h2>New Movie</h2>

<form action="/movies" method="POST">
  <p>
    <label>
      Title:
      <input type="text" name="title">
    </label>
  </p>

  <p>
    <label>
      Genre:
      <input type="text" name="genre">
    </label>
  </p>

  <p>
    <label>
      Plot:
      <textarea name="plot" cols="30" rows="4"></textarea>
    </label>
  </p>

  <p>
    <label>
      Cast:
      <select name="cast" multiple>
        {{#each celebrities}}
            <option value="{{id}}">{{name}} {{lastname}}</option>
        {{/each}}
     </select>
    </label>
  </p>

  <button>Add this Movie</button>
</form>